@model Beleshki.Models.Predmet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Predmet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PredmetIme" class="control-label"></label>
                <input asp-for="PredmetIme" class="form-control" />
                <span asp-validation-for="PredmetIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Krediti" class="control-label"></label>
                <input asp-for="Krediti" class="form-control" />
                <span asp-validation-for="Krediti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institut" class="control-label"></label>
                <input asp-for="Institut" class="form-control" />
                <span asp-validation-for="Institut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudiskaGodina" class="control-label"></label>
                <input asp-for="StudiskaGodina" class="form-control" />
                <span asp-validation-for="StudiskaGodina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
